<html>
<head>
	<title></title>

</head>
<body>

<div class="module form-module">
		<div>
		</div>
		<div class="form">
			<h2>Cadastrar-se</h2>
			<form>
      <input type="text" placeholder="Nome" name="name" [(ngModel)]="user.name" required/>
      <input type="email" placeholder="Email" name="email" [(ngModel)]="user.email" required/>
      <input type="tel" placeholder="Telefone" name="fone" [(ngModel)]="user.fone" required/>
      <input type="password" placeholder="Senha" name="password" [(ngModel)]="user.password" required />
      <input type="password" placeholder="Confirmação de senha" name="password-confirm" [(ngModel)]="confirmPassword" required/>
       <button (click)="registerUser()">Confirmar</button>
    </form>
		</div>
	</div>
</body>
</html>
