<div class="col-3">
    <div class="menu-lateral">
      <div class="list-group">
        <a href="#" class="list-group-item" routerLink='/home'>Home</a>
        <a href="#" class="list-group-item" routerLink='/adoption-index'>Adoção</a>
        <a href="#" class="list-group-item" routerLink='/adopted-index'>Adotados</a>
        <a href="#" class="list-group-item" routerLink='/complaint-index'>Denúncias</a>
        <a href="#" class="list-group-item" routerLink='/finished-complaint'>Denúncias Encerradas</a>
      </div>
    </div>
  </div>

  <div class="col-9">
    <div class="jumbotron center-block">
      <h2 class="text-center">Nova Denúncia</h2>

      <form>
        <div class="row">
          <div class="col-4">
            <div id="dateGroup" class="form-group">
              <label class="control-label" for="date">Data/Hora da ocorrêcia:</label>
              <input type="datetime-local" id="date" name="date" [(ngModel)]="complaint.date" class="form-control" required/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <div id="complaintTypeGroup" class="form-group">
              <label class="control-label" for="complaintType">Tipo Denúncia:</label>
              <select id="complaintType" name="complaintType" [(ngModel)]="complaint.type" class="form-control" required>
                <option value="-">---Selecionar---</option>
                <option value="Abandono">Abandono</option>
                <option value="Desaparecido">Desaparecido</option>
                <option value="Maus Tratos">Maus tratos</option>
                <option value="Animal em cativeiro">Animal em cativeiro</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div id="animalGroup" class="form-group">
              <label class="control-label" for="animal" >Animal:</label>
              <input type="text" id="animal" name="animal" class="form-control" [(ngModel)]="complaint.animal.animal" placeholder="Digite o animal" required/>
            </div>
          </div>
          <div class="col-3">
            <div id="sizeGroup" class="form-group">
              <label class="control-label" for="size">Porte do animal:</label>
              <select id="size" name="size" class="form-control" [(ngModel)]="complaint.animal.size" required>
                <option value="-">---Selecionar---</option>
                <option value="Pequeno">Pequeno</option>
                <option value="Médio">Médio</option>
                <option value="Grande">Grande</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div id="colorGroup" class="form-group">
              <label class="control-label" for="color" >Cor:</label>
              <input type="text" id="color" name="color" class="form-control" [(ngModel)]="complaint.animal.color" placeholder="Digite a cor" required/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div id="streetGroup" class="form-group">
              <label class="control-label" for="street" >Rua:</label>
              <input type="text" id="street" name="street" class="form-control" [(ngModel)]="complaint.address.street" placeholder="Digite a rua" required/>
            </div>
          </div>
          <div class="col-3">
            <div id="cityGroup" class="form-group">
              <label class="control-label" for="city" >Cidade:</label>
              <input type="text" id="city" name="city" class="form-control" [(ngModel)]="complaint.address.city" placeholder="Digite a cidade" required/>
            </div>
          </div>
          <div class="col-3">
            <div id="stateGroup" class="form-group">
              <label class="control-label" for="state" >Estado:</label>
              <input type="text" id="state" name="state" class="form-control" [(ngModel)]="complaint.address.state" placeholder="Digite o estado" required/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div id="descriptionGroup" class="form-group">
              <label class="control-label" for="description" >Descrição:</label>
              <textarea rows="7" id="description" name="description" class="form-control" [(ngModel)]="complaint.description" placeholder="Descreva a ocorrência" required></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-9"></div>
          <div class="col-3">
            <div class="btn-group pull-right">
              <button id="buttonCreate" class="btn btn-success" (click)="registerComplaint()" >Cadastrar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
