<div class="col-3">
  <div class="menu-lateral">
    <div class="list-group">
      <a href="#" class="list-group-item" routerLink='/home'>Home</a>
      <a href="#" class="list-group-item" routerLink='/adoption-index'>Adoção</a>
      <a href="#" class="list-group-item" routerLink='/adopted-index'>Adotados</a>
      <a href="#" class="list-group-item" routerLink='/complaint-index'>Denúncias</a>
      <a href="#" class="list-group-item" routerLink='/finished-complaint'>Denúncias Encerradas</a>
    </div>
  </div>
</div>

<div class="col-9">
  <div class="jumbotron center-block">
<h2 class="text-center">Novo animal para a Adoção</h2>

    <form>
      <div id="messages" class="alert alert-danger" role="alert" hidden="true">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Todos os campos são obrigatórios
      </div>

<div class="row">
  <div class="col-6">
    <div id="nomeGroup" class="form-group">
                <label class="control-label" for="name" >Nome do  Animal:</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Digite o nome do animal" [(ngModel)]="adoption.animalName" required/>
          </div>
  </div>
</div>
<div class="row">
        <div class="col-3">
         <div id="animalGroup" class="form-group">
            <label class="control-label" for="animal" >Animal:</label>
            <input type="text" id="animal" name="animal" class="form-control" placeholder="Digite o animal" [(ngModel)]="adoption.animal.animal" required/>
         </div>
        </div>
        <div class="col-3">
           <div id="sizeGroup" class="form-group">
            <label class="control-label" for="size">Porte do animal:</label>
            <select id="size" name="size" class="form-control" [(ngModel)]="adoption.animal.size" required>
                <option value="-">---Selecionar---</option>
                <option value="Pequeno">Pequeno</option>
                <option value="Médio">Médio</option>
                <option value="Grande">Grande</option>
            </select>
           </div>
        </div>
        <div class="col-3">
           <div id="colorGroup" class="form-group">
              <label class="control-label" for="color" >Cor:</label>
            <input type="text" id="color" name="color" class="form-control" placeholder="Digite a cor" [(ngModel)]="adoption.animal.color" required/>
          </div>
             </div>
      <div class="col-3">
        <div id="ageGroup" class="form-group">
          <label class="control-label" for="age" >Idade do animal:</label>
          <input type="text" id="age" name="age" class="form-control" placeholder="Digite a idade" [(ngModel)]="adoption.animalAge" required/>
        </div>
      </div>
</div>
<div class="row">
  <div class="col-6">
    <div id="streetGroup" class="form-group">
      <label class="control-label" for="street" >Rua:</label>
      <input type="text" id="street" name="street" class="form-control" [(ngModel)]="adoption.address.street" placeholder="Digite a rua" required/>
    </div>
  </div>
  <div class="col-3">
    <div id="cityGroup" class="form-group">
      <label class="control-label" for="city" >Cidade:</label>
      <input type="text" id="city" name="city" class="form-control" [(ngModel)]="adoption.address.city" placeholder="Digite a cidade" required/>
    </div>
  </div>
  <div class="col-3">
    <div id="stateGroup" class="form-group">
      <label class="control-label" for="state" >Estado:</label>
      <input type="text" id="state" name="state" class="form-control" [(ngModel)]="adoption.address.state" placeholder="Digite o estado" required/>
    </div>
  </div>
</div>

      <div class="row">
        <div class="col-12">
          <div id="descriptionGroup" class="form-group">
            <label class="control-label" for="description" >Descrição:</label>
            <textarea rows="7" id="description" name="description" class="form-control" placeholder="Descreva o animal" [(ngModel)]="adoption.description" required></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
          <div class="btn-group pull-right">
            <button class="btn btn-success" (click) = "registerAdoption()">Cadastrar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
