
<div class="col-3">
    <div class="menu-lateral">
      <div class="list-group">
        <a href="#" class="list-group-item" routerLink='/adoption-index'>Adoção</a>
        <a href="#" class="list-group-item" routerLink='/adopted-index'>Adotados</a>
        <a href="#" class="list-group-item" routerLink='/complaint-index'>Denúncias</a>
        <a href="#" class="list-group-item" routerLink='/finished-complaint'>Denúncias Encerradas</a>
      </div>
    </div>
  </div>

  <div class="col-9">
    <div class="jumbotron center-block">

      <h2>Seja bem vindo ao PetHelp</h2>
      <br>
      <p>O PetHelp tem como objetivo ser um site com o objetivo de ajudar as pessos com listas de denúncias
        e adoções para auxiliar aos amates de animais a ajudarem os pets!</p>

    </div>
  </div>
