<div class="col-3">
    <div class="menu-lateral">
      <div class="list-group">
        <a href="#" class="list-group-item" routerLink='/home'>Home</a>
        <a href="#" class="list-group-item" routerLink='/adoption-index'>Adoção</a>
        <a href="#" class="list-group-item" routerLink='/adopted-index'>Adotados</a>
        <a href="#" class="list-group-item" routerLink='/complaint-index'>Denúncias</a>
      </div>
    </div>
  </div>

  <div class="col-9">
    <div class="jumbotron center-block">
      <h2 class="text-center">Denúncias Finalizadas</h2>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Animal</th>
            <th>Cor</th>
            <th>Porte</th>
            <th>Tipo</th>
            <th>Data/Hora</th>
            <th>Endereço</th>
            <th>Usuário</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let complaint of complaints | async">
            <td>{{complaint.animal.animal}}</td>
            <td>{{complaint.animal.color}}</td>
            <td>{{complaint.animal.size}}</td>
            <td>{{complaint.type}}</td>
            <td>{{complaint.date}}</td>
            <td><button type="button" class="btn btn-info" (click)="showAddress(complaint.address)">Info</button></td>
            <td><button type="button" class="btn btn-info" (click)="showUser(complaint.user)">Info</button></td>
            <td><button type="button" class="btn btn-info" (click)="showDescription(complaint.description)">Info</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
