<div class="col-3">
    <div class="menu-lateral">
      <div class="list-group">
        <a href="#" class="list-group-item" routerLink='/home'>Home</a>
        <a href="#" class="list-group-item" routerLink='/adoption-index'>Adoção</a>
        <a href="#" class="list-group-item" routerLink='/complaint-index'>Denúncias</a>
        <a href="#" class="list-group-item" routerLink='/finished-complaint'>Denúncias Encerradas</a>
      </div>
    </div>
  </div>

  <div class="col-9">
    <div class="jumbotron center-block">
      <h2 class="text-center">Adotados</h2>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Nome(Pet)</th>
            <th>Animal</th>
            <th>Cor</th>
            <th>Porte</th>
            <th>Idade</th>
            <th>Endereço</th>
            <th>Usuário</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let adoption of adoptions | async">
            <td>{{adoption.animalName}}</td>
            <td>{{adoption.animal.animal}}</td>
            <td>{{adoption.animal.size}}</td>
            <td>{{adoption.animal.color}}</td>
            <td>{{adoption.animalAge}}</td>
            <td><button type="button" class="btn btn-info" (click)="showAddress(adoption.address)">Info</button></td>
            <td><button type="button" class="btn btn-info" (click)="showUser(adoption.user)">Info</button></td>
            <td><button type="button" class="btn btn-info" (click)="showDescription(adoption.description)">Info</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
