<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="module form-module">
		<div>
		</div>
		<div class="form">
			<h2>Bem vindo ao PetHelp</h2>
			<form>
				<input type="email" placeholder="Email" name="email" [(ngModel)]="user.email" required/>
				<input type="password" placeholder="Senha" name="password" [(ngModel)]="user.password" required/>
				<button (click)="doLogin()">Login</button>
				<a href="#" routerLink="/register-user">Não tem uma conta? Cadastre-se</a>
			</form>
		</div>
	</div>

</body>
</html>
