<div class="col-3">
  <div class="menu-lateral">
    <div class="list-group">
      <a href="#" class="list-group-item" routerLink='/home'>Home</a>
      <a href="#" class="list-group-item" routerLink='/adoption-index'>Adoção</a>
      <a href="#" class="list-group-item" routerLink='/adoption-index'>Adotados</a>
      <a href="#" class="list-group-item" routerLink='/finished-complaint'>Denúncias Encerradas</a>
    </div>
  </div>
</div>

<div class="col-9">
  <div class="jumbotron center-block">
    <div class="row">
      <div col='col-9'>
          <h2>Lista de Denúncias</h2>
      </div>
      <div class="col-3">
          <button type="button" class="btn btn-success" routerLink="/complaint-register">Cadastrar Denúncia</button>
      </div>
  </div>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Animal</th>
        <th>Cor</th>
        <th>Porte</th>
        <th>Tipo</th>
        <th>Data/Hora</th>
        <th>Endereço</th>
        <th>Usuário</th>
        <th>Descrição</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let complaint of complaints | async">
        <td>{{complaint.animal.animal}}</td>
        <td>{{complaint.animal.color}}</td>
        <td>{{complaint.animal.size}}</td>
        <td>{{complaint.type}}</td>
        <td>{{complaint.date}}</td>
        <td><button type="button" class="btn btn-info" (click)="showAddress(complaint.address)">Info</button></td>
        <td><button type="button" class="btn btn-info" (click)="showUser(complaint.user)">Info</button></td>
        <td><button type="button" class="btn btn-info" (click)="showDescription(complaint.description)">Info</button></td>
        <td><button type="button" class="btn btn-success" (click)="finishComplaint(complaint, complaint.$key)">Finalizar</button></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
