.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

textarea {
   resize: none;
}

.form-group{
  padding: 1%;
}
.btn-group{
padding: 5%;
}

.jumbotron{
  padding-bottom: 0.005%;
  background-color:#e8fbe8;
}

a.list-group-item:hover {
    background-color: #d2f8d2;
}

a.list-group-item:active {
    background-color: #d2f8d2;
}

a.list-group-item:focus {
    background-color: #d2f8d2;
}

body{
  background-image: url("background.jpg");
}
